.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.decibelBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
