.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 35px 37px;
}

.container > .top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}