.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  margin-top: 22px;
  border-top: 1px solid #ececec;
  padding-top: 27px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px 80px;
  flex-wrap: wrap;
  margin-top: 22px;
}

.input {
  flex: 1 1 40%;
  font-size: 14px;
}

.input input, .input select {
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  height: 41px;
  margin-top: 5px;
  color: #777;
  padding: 0 14px;
}

.input input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-top: 0;
  cursor: pointer;
}

.alarmContainer {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.alarmCheckContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}