.sidebar {
  width: 240px;
  min-width: 240px;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  position: fixed;
  z-index: 1;
  margin-top: 70px;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px 12px 25px 30px;
  border-bottom: 0.8px solid #E5E8EB;
}

.sidebarHeader > div > p {
  font-size: 12px;
  font-weight: 400;
}

.sidebarHeader > div > p.name {
  font-size: 14px;
  font-weight: 800;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
}

.sidebarMenu > .menuItem {
  display: flex;
  height: 48px;
  padding: 0 30px;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  color: var(--color-gray);
  border-top-right-radius: 20px;
}

.sidebarMenu > .menuItem > p {
  font-size: 14px;
  font-weight: 600;
}

.sidebarMenu > .menuItem.selected {
  background-color: #F5F6FA;
  color: #121212;
}

.logout {
  margin-left: auto;
  cursor: pointer;
}

.sidebarFooter {
  margin-top: auto;
  margin-bottom: 40px;
  background-color: var(--color-skyblue);
  width: 190px;
  height: 65px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
  padding: 0 24px;
  align-self: center;
}

.sidebarFooter .recordIcon {
  width: 44px;
  height: 44px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.sidebarFooter .decibel {
  font-size: 20px;
  font-weight: 800;
}