.section {
  width: 70.1875rem;
  height: 25.75rem;
  flex-shrink: 0;

  border-radius: 0.875rem;
  border: 0.8px solid #dcdfe5;
  background: #fff;

  /* 해커톤 그림자 */
  box-shadow: 7.5px 8.5px 20px 0px rgba(218, 228, 233, 0.25);

  padding: 2rem;
}

.section h1 {
  margin-bottom: 2rem;

  color: #151d48;
  font-family: Pretendard;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01375rem;
}

.section table {
  width: 100%;
  table-layout: fixed; /* 고정된 너비를 사용 */
  border-collapse: collapse;
  text-align: center;
}

.section tr th {
  color: #202224;
  font-family: 'Nunito Sans';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section thead {
  width: 67.3125rem;
  height: 3rem;
  flex-shrink: 0;

  border-radius: 0.75rem;
  background: #f1f4f9;
}

.section tbody td {
  height: 4rem;
  border-bottom: 0.4px solid rgba(151, 151, 151, 0.5);

  color: rgba(0, 0, 0, 0.8);
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  opacity: 0.8;
}
