@font-face {
  font-family: 'Pretendard';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/PretendardVariable.woff2');
}

:root {
  /* Base Colors */
  --color-white: #FFFFFF;
  --color-red: #FF4747;
  --color-yellow: #FCBE2D;
  --color-lightgreen: #1CD65A;
  --color-green: #00B69B;
  --color-blue: #3A37EF;
  --color-skyblue: #1C8EFF;
  --color-lightpurple: #9F9FF8;
  --color-purple: #C050FC;
  --color-gray: #777777;
  --color-black: #000000;
  
  /* Background */
  --color-background: #ECECF6;
  --color-background-red: #FFE2E5;
  --color-background-yellow: #FFF4DE;


  /* Border */
  --color-border: #DCDFE5;
  
  /* Button Colors */
  --color-button-border: #D9D9D9;
  --color-button-text: #1A1A1A;
  --color-button-graytext: rgba(43, 48, 52, 0.4);
  --color-button-background: #D5D5D5;
  
  /* Text Colors */
  --color-text-lightgray: #737791;
  --color-text-gray: #545454;
  --color-text-bluegray: #425166;
  --color-text-darkblue: #151D48;
  
  /* Icon Colors */
  --color-icon-lightgray: #8B8B8B;
  --color-icon-gray: #444444;
  --color-icon-blue: #2567EF;
  --color-icon-red: #EC2D2D;

  /* Font Settings */
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}